@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualizar Lista";
}
@model ListarListasViewModel;

<form class="card border border-secondary  shadow-sm mx-auto p-4" style="max-width: 750px;" asp-action="Editar"
      method="post">
    <div class="card shadow-sm h-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center fs-3">
                <p class="card-text mb-2">
                    <strong>Nome: @Model.Nome</strong>
                </p>
            </div>
            <div class="d-flex justify-content-between align-items-center fs-5">
                <p class="card-text mb-2">
                    <strong>Valor Total: @Model.ValorTotal</strong>
                </p>
                <p class="card-text mb-2">
                    <strong>Status:</strong> @Model.StatusLista
                </p>
            </div>

            <div class="table-responsive mt-3 ">
                <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Categoria</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (ListarProdutoViewModel c in Model.Produtos)
                        {
                            <tr>
                                <td>@c.ProdutoNome</td>
                                <td>@c.Categoria</td>
                                <td>@c.Quantidade</td>
                                <td>@c.Preco</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <button type="button" class="btn-close" disabled aria-label="Close bg-red"
                                                asp-route-idProduto="@c.Id"></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-between align-items-center fs-3">

                    <a class="btn btn-outline-primary btn-sm rounded-pill px-3 mt-3 p-2" asp-action="Adicionar"
                       asp-route-id="@Model.Id">Adicionar Produto</a>
                </div>

                <div class="d-flex justify-content-start gap-2 mt-4">
                    <a class="btn btn-outline-primary rounded-pill px-4" asp-action="Listar">Voltar</a>
                    <button class="btn btn-primary rounded-pill px-4" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>