@using ClubeDaLeituraWeb.WebApp.ModuloProduto.Apresentacao
@{
    Layout = "_Layout";
    ViewBag.Titulo = "Listagem de Produtos";
}
@model List<ListarProdutosViewModel>

<body>
    <a class="btn btn-outline-primary rounded-pill px-4 mb-3" asp-action="Cadastrar">Cadastrar Novo</a>

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger">
            @TempData["MensagemErro"]
        </div>
    }

    @if (@Model.Count == 0)
    {
        <div class="alert alert-primary border-start border-primary border-2 rounded-3" role="alert">
            Nenhuma Categoria Cadastrada.
        </div>
    }
    else
    {
        <div class="row g-3">
            @foreach (ListarProdutosViewModel item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">@item.Nome</h5>
                                <p class="card-text mb-2">
                                    <strong>ID:</strong> @item.Id
                                </p>
                            </div>
                            <div class="d-flex align-items-center">
                                <strong class="me-2">Unidade de Medida:</strong>
                                <span class="ms-2">@item.UnidadeMedida</span>
                            </div>
                            <a class="btn btn-outline-primary btn-sm rounded-pill px-3 mt-3 p-2" asp-action="Editar"
                               asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-outline-primary btn-sm rounded-pill px-3 mt-3 p-2" asp-action="Excluir"
                               asp-route-id="@item.Id">Excluir</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</body>
